.env
venv/
.venv
__pycache__/
*.pyc
backend/uploads/
node_modules/
dist/
frontend/react-bits-temp/
react-bits-repo/
chroma_store/
extracted_charts/
parsed_text_clean.md
nvidia_vision_report.md
.DS_Store
frontend/.env
index_store.pkl
nvidia_vision_report.md
